.speakers{
  padding: 72px 220px;
  @media screen and (max-device-width: 768px){
    padding: 27px 70px;
  }
  &__title{
    color: #0A2756;
    font-size: 60px;
    line-height: 84px;
    font-weight: 300;
    margin-bottom: 49px;
  }
  &__slider{
    position: relative;
    padding-bottom: 68px;
  }
  .swiper-slide{
    position: relative;
    img{
      width: 100%;
    }
  }
  &__info{
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    background: rgba(0, 128, 255, 0.7);
    padding: 25px 30px;
    color: #fff;
  }
  &__name{
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
  }
  &__desc{
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
  }
  .swiper-button-prev{
    left:-96px;
    transform: translateY(-50px);
    @media screen and (max-device-width: 768px){
      display: none;
    }
  }
  .swiper-button-next{
    right:-96px;
    transform: translateY(-50px);
    @media screen and (max-device-width: 768px){
      display: none;
    }
  }
  .swiper-button-next:after, .swiper-button-prev:after{
    font-size: 0;
    background-image: url('../img/left.svg');
    width: 28px;
    height: 85px;
  }
  .swiper-button-next:after{
    transform:rotate(180deg);
  }
  .swiper-pagination-bullet{
    width: 13px;
    height: 13px;
  }
  .swiper-pagination-bullet-active{
    background-color: #0A2756;
  }
}