section.form(id="form")
    h2.form__title
        | Отправить сообщение
    form
        div.form__top
            input(placeholder="Ваше имя")
            input(placeholder="Email")
        div.form__bottom
            textarea(placeholder="Ваше сообщение")
        div.form__button
            button.button(type="submit")
                | Отправить
    .form__info
        div.form__email
            a(href="mailto:info@groupmnextm.ru")
                | info@groupmnextm.ru
        div.form__phone
            a(href="tel:+74956414080")
                | +7 (495) 641-40-80
        div.form__about
            a(href="/")
                | Правовая информация