header.header
    div.layout
        div.header__cont
            a.header__logo(href='/')
                | TYNY
                span
                    | 2019
            button.header__burger
                span
                span
                span
            div.header__hide
                div.header__menu
                    a.header__link
                        | Конференция
                    a.header__link
                        | Программа
                    a.header__link(href="#speakers")
                        | Спикеры
                    a.header__link
                        | Фото
                    a.header__link
                        | Материалы
                a.header__reg
                    | Регистрация

                div.header__social
                    a(class="social__link social__link--email")
                        img(src='img/mail.svg')
                    a.social__link.social__link--facebook
                        img(src='img/facebook.svg' width="27")