section.main
    div.main__top
        duv.main__conf
            img(src='img/conf.svg')
            div.main__reg
                button.button
                    | зарегистрироваться
        div.main__messages
            img(src='img/messages.svg')
    div.main__bottom
        div.main__bottomTitle
            | Команда рекламного холдинга GroupM рада
            | открыть для вас двери digital-конференции NextM!
        div.main__bottomDesc
            | NextM – это ежегодная digital-конференция, организованная&nbsp;ведущей международной рекламной группой GroupM,
            | входящей в состав коммуникационного холдинга WPP и представленной в России агентствами Mindshare,
            | MediaCom и Wavemaker.
    div.main__down
        button.main__downButton
            img(src='img/down.svg')



