section.speakers(id="speakers")
    .speakers__title
        | Спикеры
    .div.speakers__slider
        div.swiper
            div.swiper-wrapper
                div.swiper-slide
                    img(src='img/speaker_01.png')
                    div.speakers__info
                        div.speakers__name
                            | Ярон Фаризон
                        div.speakers__desc
                            | СEO MediaCom
                div.swiper-slide
                    img(src='img/speaker_01.png')
                    div.speakers__info
                        div.speakers__name
                            | Ярон Фаризон
                        div.speakers__desc
                            | СEO MediaCom
                div.swiper-slide
                    img(src='img/speaker_01.png')
                    div.speakers__info
                        div.speakers__name
                            | Ярон Фаризон
                        div.speakers__desc
                            | СEO MediaCom
                div.swiper-slide
                    img(src='img/speaker_01.png')
                    div.speakers__info
                        div.speakers__name
                            | Ярон Фаризон
                        div.speakers__desc
                            | СEO MediaCom
        div.swiper-pagination
        div.swiper-button-prev
        div.swiper-button-next
